.contenedor{
    width: 100% ;
    height: 160px;
    position: relative;
    margin-top: 10px;
}

/* ************* CONTENEDOR DE PRODUCTO 1 *************  */

.contenedor2{
    background-image: url('/img/cocina1.png');
    /* background-size: cover; */
   
    background-position: center;
    background-repeat: no-repeat;
}
.contenedor1{
    margin: 0;
  padding: 0;
  height: 440px;
  background-image: url('/img/cocina2b.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 100%; /* Hacer que el contenedor ocupe todo el ancho disponible */
  text-align: left;
  color: white;
  padding: 20px;
}

.imagen-contenedor1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.5) scaleX(-1);
    margin-top: -2rem;
}

.text-contenedor-producto1 {
    width: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background: linear-gradient(270deg, #FEFEFE 34%, rgba(254, 254, 254, 0.80) 71%, rgba(254, 254, 254, 0) 100%);
}

.contenedor-img1{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.text-contenedor-producto1 h3{
    color: #3E3E40;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.text-contenedor-producto1 p{
    text-align: right;
    color: #3E3E40;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

/* ************* CONTENEDOR DE PRODUCTO 2 *************  */

.imagen-contenedor2 {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.text-contenedor-producto2 {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(90deg, #FEFEFE 34%, rgba(254, 254, 254, 0.80) 71%, rgba(254, 254, 254, 0) 100%);
}

.contenedor-img2{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.text-contenedor-producto2 h3{
    text-align: left;
    color: #3E3E40;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.text-contenedor-producto2 p{
    text-align: left;
    color: #3E3E40;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

@media(min-width: 768px){
    /* .contenedor1{
        /* height: 480px; 
    } */
   .contenedor2{
    height: 480px;
   }
   .imagen-contenedor1{
    transform: scale(1.3) scaleX(-1);
   }
   .imagen-contenedor2 img{
    transform: translateX(5%) translateY(5%);
   }

   .text-contenedor-producto1{
    padding-right: 3rem;
   }
   .text-contenedor-producto2{
    padding-left: 3rem;
   }
   .text-contenedor-producto1 p{
    width: 150px;
    margin-top: 3rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
   }
   .text-contenedor-producto2 p{
    width: 150px;
    margin-top: 3rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
   }
}