.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.botonDescargar{
    width: 52vw;
    border-radius: 6px;
    padding: 0.4rem;
    background: var(--Naranja-2, #F3A950);
    text-align: center;
}