.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.botonDescargar{
    width: 50vw;
    margin: 0.5rem;
    border-radius: 6px;
    padding: 0.5rem;
    background: var(--Naranja-2, #F3A950);
}