div.contenedor-principal {
  margin-top: 15px;
}

.contenedor-tarjeta {
  position: relative;
  height: 32vh;
  background: var(--Naranja-2, #F3A950);
}

.tarjeta-sobresalida-2 {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 35vh !important;
  border-radius: 6px;
  width: 80vw;
  margin: auto;
  background-color: var(--Gris-claro, #F2F2F2);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tarjeta-contenido-texto-contacto {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 2rem 0;

  >div.columna {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

hr#divider {
  background-color: var(--naranja-1);
  height: 1px;
  border: none;
  width: 100%;
}

.contenido-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: qre;
  font-size: small;

  >svg {
    font-size: 1.2rem;
  }
}

@media(min-width: 768px) {

  .contenedor-tarjeta {
    position: relative;
    height: 15vh;
    background: var(--Naranja-2, #F3A950);
  }

  .tarjeta-sobresalida-2 {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 15vh !important;
    border-radius: 6px;
    width: 60vw;
    background-color: var(--Gris-claro, #F2F2F2);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

    div.tarjeta-contenido-texto-contacto {
      display: grid;
      grid-template-columns: 1fr 10px 1fr;
      width: 100%;
      padding: 0 2rem;

      >hr#divider {
        width: 1px;
        height: 100%;
        justify-self: center;
      }

      >div.columna {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-self: start;
      }
    }
  }
}