/*======================Header====================*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #FEFEFE;

  >a {
    >img {
      width: 50%;
    }
  }

  >#desktop-menu {
    display: none;
  }

   

    >nav#mobile-menu .active{
     

    
        font-weight: bold;
        border-bottom: 2.5px solid var(--naranja-2)
      
    }
}

/*======================Sección principal de la pagina====================*/

main {
  display: flex !important;
  flex-direction: column !important;
  gap: 2rem !important;
  animation: fadeIn 500ms ease-in;

  >h2 {
    margin: 1.5rem 0;
  }

  main#about {
    display: flex !important;
    flex-direction: column !important;
    gap: 0 !important;
    animation: fadeIn 500ms ease-in;
  }

  /*======================Sección productos====================*/

  >section#productos {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    background: url('./assets/home-bg-original.jpg');
    background-position: 40%;
    background-size: 250%;

    >div#heading {
      background-image: linear-gradient(to bottom, #FEFEFE 30%, transparent 40%);
      place-content: start;

      >h2 {
        font-size: 1.5rem;
        text-align: center;
        padding: 0 4rem;
        font-weight: 700;
        color: var(--gris-oscuro);
      }

      >hr#div-1 {
        width: 70%;
        background: linear-gradient(to right, var(--naranja-2) 50%, transparent);
        height: 2.5px;
        border: none;
        margin-left: auto;
      }

      >hr#div-2 {
        width: 70%;
        margin-right: auto;
        background-color: var(--naranja-2);

        height: 2.5px;
        border: none;
      }
    }

    >div#actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      place-content: end;
      padding: 1rem;
      background-image: linear-gradient(to top, #FEFEFE 35%, transparent 50%);

      >h3 {
        font-weight: bold;
        font-size: 18px;
      }

      >button {
        background-color: var(--naranja-2);
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 18px;
      }
    }
  }

  /*======================Sección presentación====================*/

  >section#presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem;

    >h2 {
      font-weight: 600;
      width: 85%;
      margin: auto;
    }

    >div {
      display: flex;
      justify-content: space-around;
      gap: 1rem;

      >figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;

        >div {
          border-radius: 50%;
          width: 5rem;
          background-color: var(--naranja-2);
          padding: 1rem;

          >img {
            width: 50px;
            height: 50px;
          }
        }


        >figcaption {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  /*======================Sección Fotos====================*/

  >section#galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100%;
    grid-template-areas:
      "A B"
      "C C";
    place-items: stretch;
    background: var(--gris-claro);
    padding: 1rem;
    gap: 1rem;

    >img#grifo-1 {
      grid-area: A;
      background: var(--gris-claro);
      box-shadow: 0px 0px 10px 2px lightgray;
      border-radius: 6px;
    }

    >img#grifo-2 {
      grid-area: B;
      background: var(--gris-claro);
      box-shadow: 0px 0px 10px 2px lightgray;
      border-radius: 6px;
    }

    >img#grifo-3 {
      grid-area: C;
      background: var(--gris-claro);
      box-shadow: 0px 0px 10px 2px lightgray;
      border-radius: 6px;
      align-self: flex-start;
    }
  }

  /*======================Sección Card ====================*/

  >section#card {
    >div.tarjeta-contenido-texto {
      gap: 0 !important;
    }
  }

  /*======================Sección Marcas====================*/

  >section#marcas {

    >h2 {
      text-align: center;
      font-size: 22px;
    }

    >div {
      >div {
        >div {
          >div {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            padding: 1rem;
            width: 50px;

            >img {
              width: 75%;
            }
          }

          >div:nth-child(3) {
            width: 250px;
          }
        }
      }
    }
  }

  /*======================Sección Testimonios====================*/

  >section#testimonios {
    margin: 40px 0;
  }

  /*======================Sección Contacto====================*/

  >section#explicacion {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    margin: 1rem 0 0 0;

    >h3 {
      font-weight: 600;
      font-size: 22px;
    }

    >p {
      font-size: medium;
    }

    >div#contact-data {
      display: flex;
      align-items: center;
      justify-content: center;

      >div.boton {

        >button {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          font-weight: 600;
          font-size: 18px;
          padding: 10px;

          >a {

            >svg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  #image-container {
    margin-top: 2rem;
    width: 100%;
    height: 100%;

    >img {
      width: 100vw;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }

  /*======================Sección FAQ====================*/

  >section#heading {
    >p {
      padding: 0 1rem;
    }
  }

  >section#questions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  >article#CTA {
    background-color: var(--gris-claro);
    text-align: center;
    padding: 1rem;
    margin: 2rem 1rem;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }

  >section#accesorios {

    >article.products {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2rem;
      width: 100%;

      >div:nth-child(1) {
        height: 131px;
        width: 100%;
        background-image: url('./assets/cocina1.jpg');
        background-position: 10% 60%;
        background-size: 151%;
        background-repeat: no-repeat;


        >div.text {
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-content: center;
          z-index: 1;
          height: 131px;
          width: 100%;
          background-image: linear-gradient(to left, #FEFEFE 50%, transparent 60%);
          padding: 1rem;

          >h2 {
            margin: 0;
            font-size: 16px;
            margin-bottom: 1rem;
            width: 50%;
            text-align: end;
          }

          >p {
            font-size: 14px;
            width: 50%;
            text-align: end;
          }
        }
      }

      >div:nth-child(2) {
        height: 131px;
        width: 100%;
        background-image: url('./assets/cocina2.png');
        background-position: 20%;
        background-size: 111%;
        background-repeat: no-repeat;


        >div.text {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          height: 132px;
          width: 100%;
          background-image: linear-gradient(to right, #FEFEFE 50%, transparent 65%);
          z-index: 1;
          padding: 1rem;

          >h2 {
            margin: 0;
            font-size: 16px;
            margin-bottom: 1rem;
            width: 50%;
            text-align: start;
          }

          >p {
            font-size: 14px;
            text-align: start;
            width: 50%;
          }
        }
      }

      >div:nth-child(3) {
        height: 131px;
        width: 100%;
        background-image: url('./assets/cocina3.jpg');
        background-position: right;
        background-size: 150%;
        background-repeat: no-repeat;

        >div.text {
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-content: center;
          height: 132px;
          width: 100%;
          background-image: linear-gradient(to left, #FEFEFE 50%, transparent 60%);
          z-index: 1;
          padding: 0.5rem;

          >h2 {
            margin: 0;
            font-size: 16px;
            margin-bottom: 1rem;
            width: 60%;
            text-align: end;
          }

          >p {
            font-size: 14px;
            text-align: end;
            width: 50%;
          }
        }
      }
    }

    >div {
      margin: 8rem 0 0 0;
    }
  }
}

/*======================Footer====================*/

footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;
  color: var(--blanco);
  background-color: var(--gris-oscuro);


  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    >img {
      width: 50%;
    }

    >a {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    >a:nth-child(5) {
      border-bottom: 1px solid var(--naranja-2);
      width: 100%;
      text-align: center;
      padding-bottom: 2rem;
    }

    >div {
      display: flex;
      flex-direction: column;
      color: var(--naranja-2) !important;
      font-size: 2rem;

    }

    >#social-footer {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

/* H2 Para productos */
h2 {
  color: #3E3E40;
  font-size: 22px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  text-align: center;
}

.slick-arrow.slick-next {
  display: none !important;
  content: none !important;
}


/*======================Media queries====================*/


@media only screen and (min-width: 768px) {

  header {
    margin: 0;
    padding: 1.3rem;

    >a {
      >img {
        width: 200px;
        margin-left: 2rem;
      }
    }

    >#mobile-menu {
      display: none;
      
    }
    /* #mobile-menu .active {
     
        background-color: red !important;
      
    } */

    >nav#desktop-menu {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-left: 4rem;

      >a {
        font-weight: 600;
        color: var(--gris-oscuro);
        font-size: 18px;
      }

      >.active {
        font-weight: bold;
        border-bottom: 2.5px solid var(--naranja-2)
      }
    }
  }

  /* Home */
  main {
    /* max-width: 1440px; */
    margin: auto;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    >h2 {
      font-size: 40px;
      font-weight: 700;
      margin: 5rem 0;
    }

    >section#productos {
      display: flex !important;
      justify-content: center !important;
      width: -webkit-fill-available;
      height: 500px;
      background: url('./assets/home1desktop.png');
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 85%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;


      >div#heading {
        background-image: none;
        z-index: 10;

        >h2#h2-home {
          max-width: 550px;
          font-size: 40px;
          color: #3E3E40;
          font-weight: 700;
          font-family: Montserrat, sans-serif;
          line-height: 2.8rem;
        }
      }

      >div#actions {
        background-color: transparent;
        background-image: none;
        align-items: flex-start;
        max-width: 400px;
        z-index: 10;

        .botonDescargar {
          margin-left: 4.5rem;
          font-size: 18px;
          max-width: 260px;
        }

        >h3#h3-home {
          font-family: 1rem;
          padding: 0 6rem;
          width: 500px;
        }
      }
    }

    >section#productos::before {
      display: block;
      content: "";
      background-image: linear-gradient(to left, transparent 50%, white 70%);
      height: 500px;
      width: -webkit-fill-available;
      position: absolute;
      z-index: 1;
    }

    >section#presentacion {
      >h2 {
        width: 1000px;
        font-size: 28px;
      }

      >p {
        width: 1000px;
        font-size: 18px
      }

      >div#info {
        width: 70%;

        >figure {

          >div {
            width: 7rem;
            height: 7rem;
            padding: 1.5rem;

            >img {
              width: 100%;
              height: 100%;
              margin: auto;
            }
          }


          >figcaption {
            font-size: 16px;
          }
        }
      }
    }

    >section#galeria {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      justify-items: center;
      height: 1000px;
      margin-bottom: 3rem;

      >img {
        height: 450px;
        object-fit: cover;
      }

      >img#grifo-1 {
        width: 75%;
        justify-self: self-end;
        object-position: 0 40%;
      }

      >img#grifo-2 {
        width: 75%;
        justify-self: self-start;
        object-position: 0 40%;
      }

      >img#grifo-3 {
        width: 75%;
        object-position: top;
        object-fit: cover;
      }

    }

    >section#card {
      .imagenMujer {
        width: auto;
      }

      .tarjeta-sobresalida {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
      }

      .botonDescargar {
        margin-left: 4rem;
        max-width: 260px;
      }

      .tarjeta-contenido-texto {
        justify-content: center;
        align-items: center;
      }

      .tarjeta-contenido-texto h3 {
        margin-left: 30px;
      }

      .tarjeta-contenido-texto p {
        width: 230px;
        margin-left: 30px;
      }

      .container-tarjeta {
        height: 40vh;
      }

      .botonDescargar {
        margin-left: 2rem;
      }
    }

    >section#marcas {
      >h2 {
        font-size: 28px;
        margin: 3rem 0 3rem 0;
      }

      >div {
        >div {
          >div {
            gap: 5rem;
          }
        }
      }
    }

    >section#testimonios {
      article {
        div {
          h2 {
            font-size: 28px;
            margin: 3rem 0;
          }

          .css-1idztwo {
            height: 230px;
          }
        }
      }
    }

    >section#questions {
      padding: 0 10%;

    }

    >article#CTA {
      width: 80%;
      margin: auto auto 20px auto;
      font-weight: 500;
      font-size: 18px;
    }

    >section.img-container {
      width: 100%;
      height: 100%;

      >img {
        width: 100vw;
        height: 500px;
        object-fit: cover;
        object-position: bottom;
      }
    }

    >section#explicacion {

      >h3 {
        font-size: 28px;
      }

      >p {
        width: 50%;
        font-size: 18px;
        margin: auto;
      }

      >div#contact-data {
        width: 20% !important;
        margin: auto;
      }

      >section#image-container {
        width: 100%;
        height: 100%;
  
        >img {
          width: 100vw;
          height: 500px;
          object-fit: cover;
          object-position: 100% 20%;
        }
      }
    }


    >section#accesorios {

      >article.products {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        width: 100%;

        >div:nth-child(1) {
          height: 500px;
          width: 100%;
          background-image: url('./assets/cocina1.png');
          background-position: left 65%;
          background-size: 100%;
          background-repeat: no-repeat;


          >div.text {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            z-index: 1;
            height: 500px;
            width: 100%;
            background-image: linear-gradient(to left, #FEFEFE 30%, transparent 50%);
            padding: 1rem;

            >h2 {
              margin: 0;
              font-size: 32px;
              margin-bottom: 1rem;
            }

            >p {
              font-size: 20px;
              text-align: end;
            }
          }
        }

        >div:nth-child(2) {
          height: 500px;
          width: 100%;
          background-image: url('./assets/cocina2.png');
          background-position: right 20%;
          background-size: cover;
          background-repeat: no-repeat;


          >div.text {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: 500px;
            width: 100%;
            background-image: linear-gradient(to right, #FEFEFE 30%, transparent 50%);
            z-index: 1;
            padding: 1rem;

            >h2 {
              margin: 0;
              font-size: 32px;
              margin-bottom: 1rem;
            }

            >p {
              font-size: 20px;
              text-align: start;
            }
          }
        }

        >div:nth-child(3) {
          height: 500px;
          width: 100%;
          background-image: url('./assets/cocina3.png');
          background-position: top left;
          background-size: cover;
          background-repeat: no-repeat;

          >div.text {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            height: 500px;
            width: 100%;
            background-image: linear-gradient(to left, #FEFEFE 30%, transparent 40%);
            z-index: 1;
            padding: 1rem;

            >h2 {
              margin: 0;
              font-size: 32px;
              margin-bottom: 1rem;
            }

            >p {
              font-size: 20px;
              text-align: end;
            }
          }
        }
      }

      >div {
        margin: 8rem 0 0 0;
      }
    }
  }

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 1.5rem;
    padding: 3rem;
    align-items: center;
    color: var(--blanco);
    background-color: var(--gris-oscuro);
    z-index: 1;
    position: absolute;
    width: 100%;

    >div {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1.5rem;
      font-size: 18px;

      >a:nth-child(5) {
        border-bottom: none;
        width: auto;
        text-align: start;
        padding-bottom: 0;
      }

      >#contact-footer {
        display: flex;
        gap: 1rem;
        align-items: center;
      }

      >#social-footer {
        gap: 1.5rem;
      }

      >img {
        width: 200px;
      }
    }


    >div:last-child {
      width: auto;
      align-content: start;
    }
  }
}

@media only screen and (min-width: 1900px) {

  main {
    >section#productos {
      display: flex !important;
      justify-content: center !important;
      width: -webkit-fill-available;
      height: 500px;
      background: url('./assets/home1desktop.png');
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-size: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;


      >div#heading {
        background-image: none;
        z-index: 10;

        >h2#h2-home {
          max-width: 550px;
          font-size: 40px;
          color: #3E3E40;
          font-weight: 700;
          font-family: Montserrat, sans-serif;
          line-height: 2.8rem;
        }
      }

      >div#actions {
        background-color: transparent;
        background-image: none;
        align-items: flex-start;
        max-width: 400px;
        z-index: 10;
        

        .botonDescargar {
          margin-left: 4.5rem;
          font-size: 18px;
          max-width: 260px;
        }

        >h3#h3-home {
          font-size: 1rem;
          padding: 0 6rem;
          width: 500px;
        }
      }
    }

    >section#accesorios {

      >article.products {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        width: 100%;

        >div:nth-child(1) {
          height: 500px;
          width: 100%;
          background-image: url('./assets/cocina1.jpg');
          background-position: 50% left;
          background-size: cover;
          background-repeat: no-repeat;


          >div.text {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            z-index: 1;
            height: 500px;
            width: 100%;
            background-image: linear-gradient(to left, #FEFEFE 30%, transparent 40%);
            padding: 1rem;

            >h2 {
              margin: 0;
              font-size: 32px;
              margin-bottom: 1rem;
            }

            >p {
              font-size: 20px;
              text-align: end;
            }
          }
        }

        >div:nth-child(2) {
          height: 500px;
          width: 100%;
          background-image: url('./assets/cocina2.png');
          background-position: right 20%;
          background-size: cover;
          background-repeat: no-repeat;


          >div.text {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: 500px;
            width: 100%;
            background-image: linear-gradient(to right, #FEFEFE 30%, transparent 45%);
            z-index: 1;
            padding: 1rem;

            >h2 {
              margin: 0;
              font-size: 32px;
              margin-bottom: 1rem;
            }

            >p {
              font-size: 20px;
              text-align: start;
            }
          }
        }

        >div:nth-child(3) {
          height: 500px;
          width: 100%;
          background-image: url('./assets/cocina3.jpg');
          background-position: -400px 50%;
          background-size: cover;
          background-repeat: no-repeat;

          >div.text {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            height: 500px;
            width: 100%;
            background-image: linear-gradient(to left, #FEFEFE 30%, transparent 40%);
            z-index: 1;
            padding: 1rem;

            >h2 {
              margin: 0;
              font-size: 32px;
              margin-bottom: 1rem;
            }

            >p {
              font-size: 20px;
              text-align: end;
            }
          }
        }
      }

      >div {
        margin: 8rem 0 0 0;
      }
    }

    >section#explicacion {

      >section#image-container {
        width: 100%;
        height: 100%;

        >img {
          width: 100vw;
          height: 500px;
          object-fit: cover;
          object-position: center 25%;
        }
      }
    }
  }
}