body {
  font-family: 'Montserrat', sans-serif !important;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url('./assets/logo-bg.png') !important;
  background-size: 100px !important;
  background-repeat: space !important; */

  --naranja-1: #F1B441;
  --naranja-2: #F3A950;
  --gris-claro: #F2F2F2;
  --gris-oscuro: #3E3E40;
  --blanco: #FEFEFE
}